@*coded by Larisa Steig*@
@model Workshop5.Rev2.App.Models.PackageViewModel

@{
    ViewData["Title"] = "Create";
}
<br />
<center>
    <h1>Create New Package: </h1>
    <br />
</center>
<hr />
<div class="row justify-content-center">
    <div class="form-group col-md-4 col-md-offset-5 align-center ">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PackageId" class="control-label"></label>
                <input asp-for="PackageId" class="form-control" readonly />
                <span asp-validation-for="PackageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PkgName" class="control-label"></label>
                <input asp-for="PkgName" class="form-control" />
                <span asp-validation-for="PkgName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PkgStartDate" class="control-label"></label>
                <input asp-for="PkgStartDate" class="form-control" />
                <span asp-validation-for="PkgStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PkgEndDate" class="control-label"></label>
                <input asp-for="PkgEndDate" class="form-control" />
                <span asp-validation-for="PkgEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PkgDesc" class="control-label"></label>
                <input asp-for="PkgDesc" class="form-control" />
                <span asp-validation-for="PkgDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PkgBasePrice" class="control-label"></label>
                <input asp-for="PkgBasePrice" class="form-control" />
                <span asp-validation-for="PkgBasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PkgAgencyCommission" class="control-label"></label>
                <input asp-for="PkgAgencyCommission" class="form-control" />
                <span asp-validation-for="PkgAgencyCommission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a href="~/Package/Details" class="text-center btn btn-warning justify-content-center">Return to Home</a>
            </div>
        </form>
    </div>
</div>


